<section class="min-vh-100 py-5 o-hidden">
      <div class="container position-relative layer-2">
      
        <div class="row justify-content-center py-6">
          <div class="col">
            <h2 class="">Perkbox Prototype</h2>
            <p class="text-muted">Click "logout" to restart prototype</p>
            <p>These are the prototypes to show the top level concept - "the blueprint"</p>
            <p>Detail layer we're still working on - pending feedback from top concept</p>
            <ol>
              <li><strong>Onboarding</strong> <span class="text-muted">(Employee, Team Manager, admin)</span></li>
              <li><strong>Team & people creation flow</strong> <span class="text-muted">(Team Mananger + Admin)</span></li>
              <li><strong>Credit upload and request flow</strong> <span class="text-muted">(Team Mananger + Admin)</span></li>
              <li><strong>Benefit, gift & reward creation flow</strong> <span class="text-muted">(Team Mananger + Admin)</span></li>
              <li><strong>Purchase flow </strong> <span class="text-muted">(Employee)</span></li>
            </ol>
            
          </div>
        </div>

        <a href="/pages/splashemployee" class="btn btn-primary">Employee</a>
        <a href="https://calm-citadel-62154.herokuapp.com/pages/home" class="btn btn-primary">Team Manager</a>
        <a href="https://lit-bayou-79378.herokuapp.com/pages/home" class="btn btn-primary">Admin</a>

        

        
        