<section class="min-vh-100 py-5 o-hidden">
      <div class="container position-relative layer-2">
      
        <div class="row justify-content-center py-6">
          <div class="col">
            <h2 class="">Perkbox Prototype</h2>
            <p class="text-muted">Click "logout" to restart prototype</p>
            <p>These are the prototypes to show the top level concept - "the blueprint"</p>
            <p>Detail layer we're still working on is captured below - pending feedback from the top level concept.</p>
            <ol>
              <li><strong>Onboarding</strong> <span class="text-muted">(Team Member, Team Manager, admin)</span></li>
              <li><strong>Team & people creation flow</strong> <span class="text-muted">(Team Manager + Admin)</span></li>
              <li><strong>Credit upload and request flow</strong> <span class="text-muted">(Team Manager + Admin)</span></li>
              <li><strong>Benefit, gift & reward creation flow</strong> <span class="text-muted">(Team Manager + Admin)</span></li>
              <li><strong>Purchase/Redemption flow </strong> <span class="text-muted">(Team Member)</span></li>
              <li><strong>Native Framework </strong> <span class="text-muted">(Team Member)</span></li>
            </ol>
            
          </div>
        </div>



            <a href="/pages/splashemployee" class="btn btn-primary">Team Member</a>
            <a href="https://calm-citadel-62154.herokuapp.com/pages/home" class="btn btn-primary">Team Manager</a>
            <a href="https://lit-bayou-79378.herokuapp.com/pages/home" class="btn btn-primary">Admin</a>


        <br>
        <br>



            <a href="/pages/premium3" class="btn btn-light">Packaging Exploration</a>
            



        

        
        